*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 14px;
    font-size: 1.4rem;
    background: #d6e8f9;
}
.login-grp:focus{
    outline: none;
    box-shadow: none;
    border-left: 8px solid #0055a5;
}
.login-grp{
    border-radius: 0;
    border: 0;
    border-left: 8px solid #2192FF;
    background: rgba(78, 78, 78, 0.089);
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    padding-left: 1rem;
}
nav{
    position: absolute;
    height: 6vh;
    min-width: 100vw;
    right: 0;
    text-align: right;
    background: white;
    z-index: 2;
}
.nav-container{
    margin: 0;
    width: 100vw ;
    background: white;
}
.navbar-brand{
    padding-left: 2rem;
    font-size: 2rem;
}
.nav-link{
    color: #2192FF;
    margin-right: 1rem;
    font-size: 1.9rem;
    font-weight: bolder;
    padding-right: 1rem;
}
.logout-btn:hover{
    background-color: red;
    border: 0;
}
.logout-btn{
    border: 0;
    font-size: 1.6rem;
    margin-left: 2rem;
    text-shadow: 1px 1px 2px black;
}

/* Sign IN-OUT */
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.main-container{
    margin: 0;
    height: 94vh;
    width: 100vw;
    overflow-x: hidden;
}
.login-container{
    height: 100%;
}
.login-inner{
    height: 80%;
    width: 80%;
    position: relative;
}
/* left */
.login-welcome-h1{
    font-size: 7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px 2px black;
    text-align: center;
    margin-left: 2rem;
    width: 100%;
}
.login-p{
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 3rem;
}
.magic-box{
    height: 45rem;
    width: 35rem;
    border: 45px solid red;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.508);
    position: absolute;
    z-index: -1;
}
/* right */
#emailHelp{
    margin-bottom: 2rem;
}
.login-signin-h1{
    font-size: 4.5rem;
    color: #2192FF;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    position: absolute;
    top: 5%;
    width: 30rem;
    text-align: center;
    padding-bottom: 1rem;
}

.login-inner form{
    position: absolute;
    bottom: 15%;
}
.login-inner label{
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}
.login-btn{
    margin-top: 2rem;
    font-size: 1.35rem;
    width: 100%;
}
/* Home Ends Here */

/* User Skill Form */
.user-skill-form-main-container{
    background-image: url("./images/doodle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 600px;
    overflow-x: scroll;
}
.skill-catalogue{
    height: 70%;
    width: 30%;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #f8fbff;
    box-shadow: 1px 1px 20px black;
    min-width: 250px;
    min-height: 420px;
    overflow: hidden;
}
.skill-catalogue  h1{
    position: absolute;
    top: 2%;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #0055a5;
    font-size: 4.5rem;
    padding-bottom: 0.5rem;
    /* margin-bottom: rem; */
    /* overflow: scroll; */
}
.catalogue-container{
    bottom: -5%;
    position: relative;
    padding-bottom: 5rem;
}
.skill-form-form-select:focus{
    outline: none;
    border: 0.1px solid black;
    box-shadow: none;
}
.skill-form-form-select{
    border: 1px solid black;
    width: 90%;
    font-size: 1.8rem;
    border: 0;
    margin: 2rem;
    border: 0.1px solid black;
}
.skill-form-btn{
    position: absolute;
    background: #000;
    border: 0;
    width: 10rem;
    font-size: 1.5rem;
    bottom: 2%;
}
.skill-form-add:hover{
    border: 0;
    background: #00ED64;
}
.skill-form-add{
    left: 5%;
}
.skill-form-clear:hover{
    border: 0;
    background: red;
}
.skill-form-clear{
    right: 5%;
}
/* User Skill Form Ends Here*/

/* For Responsiveness */
@media (max-width: 1150px){
        .skill-catalogue{
            width: 40%;
        }
        .skill-catalogue h1{
            font-size: 4rem;
        }
}
@media (max-width: 850px){
    .skill-catalogue{
        width: 50%;
    }
}
@media (max-width: 750px){
    /* Skill  Form */
    .skill-catalogue{
        width: 60%;
    }
    .skill-form-form-select{
        width: 80%;
    }
}
@media (max-width: 500px){
    /* Home */
    .login-welcome-h1{
        font-size: 6rem;
    }
    .magic-box{
        height: 45rem;
        width: 30rem;
        border: 30px solid #FDFF00;
        box-shadow: 2px 20px 200px 20px black;
        position: absolute;
        z-index: -1;
    }
    .login-signin-h1{
        font-size: 3.5rem;
        top: 3%;
    }
    .login-form{
        bottom: 15%;
    }
    .login-inner label{
        font-size: 1.6rem;
    }
    .login-btn{
        font-size: 1rem;
    }
    .login-grp{
        font-size: 1.6rem;
    }
    /* Home Ends Here */

    /* Skill  Form */
    .skill-catalogue{
        width: 60%;
    }
    .skill-form-form-select{
        font-size: 1.4rem;
    }
    .skill-form-btn{
        font-size: 1.2rem;
        width: 8rem;
    }
    .add-skill-h1{
        font-size: 1rem;
    }
    /* Skill Form Ends Here */
}
/* .test-container{
    min-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
    background: #000;
} */